<div class="modal fade" id="one" style="top:200px">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--头部-->
            <div class="modal-header" style="background-color: green; height: 20px;">
            </div>
             <b style="text-align: center"><h2>请选择支付方式！</h2></b>
            <div class="modal-body">

                <table class="table" border="0">
                    <tr>
                        <div >
                            <hr>
                            <b>我的地址：</b></b><b id="address"></b>
                            <hr>
                            <b>电话：</b><b></span><span id="phone"></span></b>
                            <hr>
                            <a href="/account/user/profile2" style="color: #5acde2">修改预留信息</a>
                        </div><br>
                        <div style="text-align: center" id="zf">
                            <img src="/images/zfb.jpg" style="width: 100px;height: 80px">
                            <input type="radio" name="d" value="1">
                            <img src="/images/wxzf.jpg" style="width: 100px;height: 80px">
                            <input type="radio" name="d" value="2">
                            <img src="/images/ylzf.jpg" style="width: 100px;height: 80px">
                            <input type="radio" name="d" value="3">
                        </div>
                       <div>
                           <b><a href="#">添加银行卡</a></b>
                       </div>

                    </tr>
                    <tr>
                        <div style="text-align: center" >
                            <button type="button" class="btn btn-success btn-lg" onclick="settlement()" >确认支付</button>
                            <button type="button" class="btn btn-warning btn-sm" onclick="down()">取消</button>
                        </div>
                    </tr>
                </table>
                <input type="hidden" id="roleId">
            </div>
        </div>
    </div>
</div>