<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/MyJS.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/YZM.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>

<div class="container img-rounded">
    <h1>重置密码</h1>
    <form class="form-horizontal" action="" method="post" id="form1">
        <input type="hidden" id="userId" name="userId">
        <div class="form-group inpPWD">
            <label for="inpPWD" class="col-sm-2 control-label">密码：</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="password" id="inpPWD" placeholder="请输入密码">
            </div>
            <div class="col-sm-4 update111"></div>
        </div>

        <div class="form-group inpPWD">
            <label for="inpPWD2" class="col-sm-2 control-label">确认密码：</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="inpPWD2" placeholder="请确认密码">
            </div>
            <div class="col-sm-4"></div>
        </div>




        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" onclick="resetPassword()">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>

<script type="text/javascript">

    var userId;
    $(function () {
        userId = [[${userId}]];

    });

    function resetPassword() {
        var b = false;
        var divs = $("div.inpPWD");
        for (var i = 0; i < divs.length; i++) {
            if (divs.eq(i).hasClass('has-success')) {
                b = true;
            } else {
                b = false;
                break;
            }
        }
        if (b) {

            var user = {};
            user.userId = userId;
            user.password = $("[name=password]").val();

            $.ajax({
                url: "/account/user/findBackPassword",
                type: "post",
                contentType: "application/json",
                data: JSON.stringify(user),
                success: function (data) {
                    if (data.status == 200) {
                        alert("重置密码成功！")
                        location.href = "/account/user/login";
                    } else {
                        layer.msg(data.message, {icon: 0});
                    }
                },
                error: function (data) {
                    layer.msg(data.responseText, {icon: 0});
                }
            })

            // alert("注册成功")
            // window.location.href = "login.html"
        } else {
            alert("重置失败!请检查密码格式是否正确")
        }
    }


</script>