<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form action="javascript:void(0);">
                <h1>One Plus Plus Mobile System Login Page</h1>
                <div>
                    <input name="username" type="text" class="form-control" placeholder="Username" required=""/>
                </div>
                <div>
                    <input name="password" type="password" class="form-control" placeholder="Password" required=""/>
                </div>

                <!--动态验证码-->
                <div>
                    <input class="form-control input-val" type="text" value="" placeholder="请输入验证码（不区分大小写）"
                           style="float:left; width:68%; margin-bottom: 0px;">
                    <canvas id="canvas" width="100" height="36"></canvas>
                </div>
                <!--记住我-->
                <!--<div style="text-align:left; margin-top: 5px; margin-left: 3px;">-->
                    <!--<input type="checkbox" lay-filter="filter" name="rememberMe" style="float: left;"-->
                           <!--lay-skin="primary" title="30天内自动登录" >30天内自动登录-->
                <!--</div>-->

                <div>
                    <a id="loginButton" class="btn btn-default submit" href="javascript:void(0);">Log in</a>

                    <a class="reset_pass " style="color: red; cursor:pointer" data-toggle='modal' data-target='#lostPassword'>Lost your password?</a>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="change_link">New to site?
                        <a href="/account/user/register" class="to_register"> Create Account </a>
                    </p>

                    <div class="clearfix"></div>
                    <br/>

                    <div>
                        <h1><i class="fa fa-paw"></i> Jayoung Lee!</h1>
                        <p>©2020 All Rights Reserved. Created By Jayoung Lee</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<!-- 输入用于找回密码的邮箱的模态框 -->
<div id="lostPassword" class="modal fade bs-example-modal-lg"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="control-label col-md-3">关联账户的邮箱</label>
                        <div class="col-md-8">
                            <input id="inpBackEmail" name="email" class="form-control"
                                   type="text">
                        </div>
                        <div class="col-sm-4 update111"></div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="gainBackMail" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    //页面加载时就要执行的函数
    show_num = [];
    $(function () {
        draw(show_num);
        $("#canvas").on('click',function(){
            draw(show_num);
        });

        $("#loginButton").bind("click",function () {
            login();
        });

        $("#gainBackMail").bind("click",function () {

            findBackEmail();
        });
    });

    function findBackEmail() {
        var user={};
        user.email = $("#inpBackEmail").val();

        $.ajax({
            url:"/account/user/inpBackEmail",
            type:"post",
            contentType:"application/json",
            data:JSON.stringify(user),
            success:function (data) {
                if (data.status == 200 ){
                    alert("重置密码连接已发邮件，注意查收！");
                    location.href = "/account/user/login";
                } else {
                    layer.msg(data.message, {icon: 0})
                }
            },
            error:function (data) {
                layer.msg(data.responseText, {icon: 0});
            }
        });
    }

    function login() {
        var user={};
        user.username = $("[name=username]").val();
        user.password = $("[name=password]").val();
        // user.rememberMe = $("[name=rememberMe]").prop("checked");

        var num = show_num.join("");
        var code = $(".input-val").val();
        if (code == "") {
            layer.msg("Please input Verification Code.", {icon: 0});
            return;
        } else if (code != num) {
            layer.msg("The input Verification Code is error.", {icon: 0});
            return;
        };

        $.ajax({
            url:"/account/user/login",
            type:"post",
            contentType:"application/json",
            data:JSON.stringify(user),
            success:function (data) {
                if (data.status == 200 ){
                    if ("user" == data.object.roles[0].roleName){
                        layer.msg(data.message, {icon: 1})
                        location.href = "/goods/shopping";
                    }else if ("admin" == data.object.roles[0].roleName){
                        layer.msg(data.message, {icon: 1})
                        location.href = "/goods/goodsHome";
                    }else {
                        layer.msg(data.message, {icon: 1})
                        location.href = "/account/user/admins";
                    }
                } else {
                    layer.msg(data.message, {icon: 0})
                }
            },
            error:function (data) {
                layer.msg(data.responseText, {icon: 0});
            }
        });
    }

    //动态验证码
    function draw(show_num) {
        var canvas_width=$('#canvas').width();
        var canvas_height=$('#canvas').height();
        var canvas = document.getElementById("canvas");//获取到canvas的对象，演员
        var context = canvas.getContext("2d");//获取到canvas画图的环境，演员表演的舞台
        canvas.width = canvas_width;
        canvas.height = canvas_height;
        var sCode = "A,B,C,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,W,X,Y,Z,1,2,3,4,5,6,7,8,9,0";
        var aCode = sCode.split(",");
        var aLength = aCode.length;//获取到数组的长度

        for (var i = 0; i <= 3; i++) {
            var j = Math.floor(Math.random() * aLength);//获取到随机的索引值
            var deg = Math.random() * 30 * Math.PI / 180;//产生0~30之间的随机弧度
            var txt = aCode[j];//得到随机的一个内容
            show_num[i] = txt.toLowerCase();
            var x = 10 + i * 20;//文字在canvas上的x坐标
            var y = 20 + Math.random() * 8;//文字在canvas上的y坐标
            context.font = "bold 23px 微软雅黑";

            context.translate(x, y);
            context.rotate(deg);

            context.fillStyle = randomColor();
            context.fillText(txt, 0, 0);

            context.rotate(-deg);
            context.translate(-x, -y);
        }
        for (var i = 0; i <= 5; i++) { //验证码上显示线条
            context.strokeStyle = randomColor();
            context.beginPath();
            context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.stroke();
        }
        for (var i = 0; i <= 30; i++) { //验证码上显示小点
            context.strokeStyle = randomColor();
            context.beginPath();
            var x = Math.random() * canvas_width;
            var y = Math.random() * canvas_height;
            context.moveTo(x, y);
            context.lineTo(x + 1, y + 1);
            context.stroke();
        }
    }

    function randomColor() {//得到随机的颜色值
        var r = Math.floor(Math.random() * 256);
        var g = Math.floor(Math.random() * 256);
        var b = Math.floor(Math.random() * 256);
        return "rgb(" + r + "," + g + "," + b + ")";
    }
</script>