<!-- NProgress -->
<link href="/plugin/nprogress/nprogress.css" rel="stylesheet">

<!-- 上传图片 -->
<link th:href="${'/plugin/fileinput/fileinput.min.css'}" rel="stylesheet">


<!-- page content -->

<div class="right_col" role="main">
    <div class="">


        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>User Report
                            <small>Activity report</small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <!--==========================================================-->

                    <div class="x_content">
                        <div class="col-md-12 col-sm-12  profile_details">
                            <!--<div class="well profile_view">-->
                                <div class="col-sm-12">
                                    <h4 class="brief"><i>个人信息页面</i></h4>
                                    <div class="left col-md-7 col-sm-7">
                                        <h2><i class="fa fa-user"></i> 用户名：</h2><h2 id="usernameH2" style="color: black">JayoungLee</h2>
                                        <h2><i class="fa fa-phone"></i> 电话：</h2><h2 id="phoneNumberH2" style="color: black">JayoungLee</h2>
                                        <h2><i class="fa fa-exchange"></i> 邮箱：</h2><h2 id="emailH2" style="color: black">JayoungLee</h2>
                                        <h2><i class="fa fa-building"></i> 地址: </h2><h2 id="addressH2" style="color: black">JayoungLee</h2>
                                        <p><strong>About: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                    </div>
                                    <div class="right col-md-5 col-sm-5 text-center">
                                        <img src="/images/img.jpg" id="userImgForProfile" alt="" class="img-circle img-fluid">
                                    </div>
                                </div>
                                <div class=" profile-bottom text-center">
                                    <div class=" col-sm-6 emphasis">

                                    </div>
                                    <div class=" col-sm-6 emphasis">
                                        <button type="button" class="btn btn-success btn-sm" id="updatePassword">
                                            <i class="fa fa-edit m-right-xs"></i> Edit Password</button>
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle='modal' data-target='#profileEditModal'>
                                            <i class="fa fa-user"> </i> Edit Profile
                                        </button>

                                    </div>
                                </div>
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->


<div th:replace="account/user/profileEdit"></div>

<!-- FastClick -->
<script src="/plugin/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/plugin/nprogress/nprogress.js"></script>
<!-- morris.js -->
<script src="/plugin/raphael/raphael.min.js"></script>
<script src="/plugin/morris.js/morris.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="/plugin/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- bootstrap-daterangepicker -->
<!--<script src="/plugin/moment/min/moment.min.js"></script>-->
<!--<script src="/plugin/bootstrap-daterangepicker/daterangepicker.js"></script>-->

<!-- 上传图片 -->
<script th:src="${'/plugin/fileinput/fileinput.min.js'}" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        initFileInput();

        initUserProfile($("#userId").html());

        $("#editProfile").bind("click", function () {
            editProfile();
        });

        $("#updatePassword").bind("click", function () {
            updatePassword($("#userId").html());
        });

        // alert($("#usernameHeader").html());
        /* 查看需改的模态框里面的名字是否在数据库已存在 */
        $("input").change(function () {

            // 获取要添加提示信息的div
            myDiv = $(this).parent().parent().children("div.update111")
            myDiv2 = $(this).parent().parent()

            var id = $(this).attr("id");
            var usernameHeader = $("#usernameHeader").html();
            // id为inpUserName的input框触发change事件

            if (id == "username") {
                var a = $(this).val();
                var regex = /^[a-zA-Z]\w{0,9}$/
                if (regex.test(a)) {
                    // myDiv.html(' <p class="glyphicon glyphicon-ok text-success"></p>')
                    // s()

                    $.post("/account/user/isUserNameUsable", {username: a}, function (data) {
                        //与 碎片header里面的名字作比较
                        if (data.flag || (!data.flag && a == usernameHeader)) {
                            myDiv.html(' <p class="glyphicon glyphicon-ok text-success"></p>')
                            s()
                        } else {
                            myDiv.html('<p class="glyphicon glyphicon-remove text-danger"></p> <span class="text-danger">用户名太受欢迎啦，请重新输入</span> ')
                            e()

                        }
                    })
                } else {
                    myDiv.html(	'<p class="glyphicon glyphicon-remove text-danger"></p> <span class="text-danger">字母数字下划线10位以内, 必须是字母开头</span> ')
                    e()

                }
            }else if (id == "email") {
                var a = $(this).val();
                var regex = /^[0-9a-zA-Z._-]+[@][0-9a-zA-Z_-]+[.][a-z]{2,3}$/
                if (regex.test(a)) {
                    myDiv.html(' <p class="glyphicon glyphicon-ok text-success"></p>')
                    s()
                } else {
                    myDiv.html(
                        '<p class="glyphicon glyphicon-remove text-danger"></p> <span class="text-danger">请输入正确的邮箱格式</span> '
                    )
                    e()
                }
                //检验验证码
            }

        });


    });

    function s() {
        myDiv2.addClass("has-success")
        if (myDiv2.hasClass('has-error')) {
            myDiv2.removeClass('has-error')
        }
    }

    function e() {
        myDiv2.addClass("has-error")
        if (myDiv2.hasClass('has-success')) {
            myDiv2.removeClass('has-success')
        }
    }

    //初始化编辑页面
    function initUserProfile(userId) {
        $.ajax({
            url: "/account/user/user/" + userId,
            type: "get",
            contentType: "application/json",
            success: function (rs) {
                $("[name='userId']").val(rs.userId);
                $("[name='username']").val(rs.username);
                $("#usernameH2").html(rs.username);
                $("[name='phoneNumber']").val(rs.phoneNumber);
                $("#phoneNumberH2").html(rs.phoneNumber);
                $("[name='email']").val(rs.email);
                $("#emailH2").html(rs.email);
                $("[name='address']").val(rs.address);
                $("#addressH2").html(rs.address);
                if (rs.userImg == null || rs.userImg == "") {
                    $("#userImgForProfile").attr("src", "/images/img.jpg");
                    // $("#userImgForHeader").attr("src", "/images/img.jpg");
                    // $("#userImgForSidebar").attr("src", "/images/img.jpg");
                } else {
                    $("#userImgForProfile").attr("src", rs.userImg);
                    $("[name='userImg']").val(rs.userImg);
                    // $("#userImgForHeader").attr("src", rs.userImg);
                    // $("#userImgForSidebar").attr("src", rs.userImg);
                }
                $("[name='userNameH3']").html(rs.userName);
            },
            error: function (data) {
                layer.alert(data.responseText, {icon: 0});
            }
        });
    }

    function editProfile() {

        var b = true;
        var divs = $("div.row");
        for (var i = 0; i < divs.length; i++) {
            if (divs.eq(i).hasClass('has-error')) {
                b = false
                break;
            }
        }

        if (b){

            var user = {};
            user.userId = $("#userId").html();
            user.username = $("#username").val();
            user.phoneNumber = $("#phoneNumber").val();
            user.email = $("#email").val();
            user.address = $("#address").val();
            user.userImg = $("#userImg").val();

            $.ajax({
                url: "/account/user/profile",
                type: "put",
                contentType: "application/json",
                data: JSON.stringify(user),
                success: function (data) {
                    if (data.status == 200) {
                        layer.alert(data.message, {icon: 0});
                        //重新刷新整个页面（index)
                        window.location.reload();
                        // initUserProfile($("#userId").html());
                    } else {
                        layer.alert(data.message, {icon: 0});
                    }
                },
                error: function (data) {
                    layer.msg(data.responseText, {icon: 0});
                }
            });
        }  else {
            alert("修改失败!")
            window.location.reload();
        }
    }

    function updatePassword(userId) {
        window.location.href="/account/user/findBackPasswordPage/"+userId;
    }

    function initFileInput() {
        $("#uploadImage").fileinput({
            uploadUrl: "/account/user/uploadUserImg",
            enctype: 'multipart/form-data',
            previewFileType: "image",
            uploadAsync: true,
            allowedFileExtensions: ["png", "jpg", "jpeg", "ico", "bmp", "gif"],
            maxFileCount: 1,
            maxFileSize: 3072,
            minImageWidth: 50,
            minImageHeight: 50,
            maxImageWidth: 1000,
            maxImageHeight: 1000,
            msgFilesTooMany: "Upload file count({n} - {m})",
            showCaption: false,
            dropZoneEnabled: false,
            showBrowse: true,
            browseClass: "btn btn-primary",
            uploadClass: "btn btn-info",
            removeClass: "btn btn-danger"
            //    on('fileerror', function (event, data, msg) {…… 是绑定文件出错事件
        }).on('fileerror', function (event, data, msg) {
            layer.alert("Upload file failed" + msg, {icon: 0});
        }).on('fileuploaded', function (event, data) {  //类似于响应成功的回调函数
            if (data.response.status == 200) {
                $("#userImg").val(data.response.object);
                //alert($("#userImg").val()
                $('#uploadPicture').fileinput('disable');
            } else {
                $(".fileinput-remove-button").click()
            }
            layer.alert(data.response.message, {icon: 0});
        }).on('fileclear', function (event) {
        });
    }
</script>

